@import 'variables';

.form--call .form__line {
    width: 3px;
    height: 40px;
    display: inline-block;
    border-radius: 3px;
    background: $accent-color-line;
}

@media (min-width: 768px) {
    .form--call {
        width: 440px;
        height: 2000px;
        background: $background-block;
        position: absolute;
        right: 0;
        top: 0;
        padding-top: 40px;
        padding-left: 32px;
        font-family: $font-family;
        border-left: 1px solid $section-decoration-line;
        box-shadow: -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
        z-index: 1000;
        display: none;
        animation: vanish 1s;
    }

    @keyframes vanish {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    .form {
        &__close-btn img {
            transform: translate(-61px, 8px);
        }

        &__header {
            font-size: $font-size-big;
            color: $font-color;
            font-weight: bold;
            margin-bottom: 24px;
            margin-left: -45px;
        }

        &__group input {
            width: 376px;
            height: 48px;
            border-radius: 7px;
            border: 1px solid $block-border-color;
            margin-bottom: 16px;
        }

        &__group input::placeholder {
            font-family: $font-family;
            padding: 16px;
            font-size: $font-size-regular;
            color: $placeholder-color;
        }
    }

    .form__agreement {
        width: 376px;
        color: $font-color-accent;
        font-size: $font-size-small;
        margin-bottom: 23px;

        &--highlighted {
            color: $button-color;
        }
    }

    .form__button button {
        width: 136px;
        height: 32px;
        border-radius: 16px;
        background: $button-color;
    border: $button-color;
    color: $button-text-color;
    font-family: $font-family;
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
    font-size: $font-size-button-text;
    transform: translateX(240px);

    span {
        display: inline-block;
        transform: translate(0, -5px);
    }

    img {
        transform: translate(6px, 7.5px);
    }
}
}

@media (max-width: 767px) {
    .form--call {
        padding-top: 24px;
        padding-left: 16px;
        width: 100%;
        height: 1400px;
        background: $background-block;
        font-family: $font-family;
        position: absolute;
        right: 0;
        top: 0;
        border-left: 1px solid $section-decoration-line;
        z-index: 1000;
        display: none;
        animation: vanish 1s;
    }

    @keyframes vanish {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }

      .form {
        &__close-btn img {
            display: block;
            margin-bottom: 20px;
          }

        &__header {
            font-size: $font-size-big;
            color: $font-color;
            font-weight: bold;
            margin-bottom: 24px;
        }

        &__group input {
            width: 288px;
            height: 48px;
            border-radius: 7px;
            border: 1px solid $block-border-color;
            margin-bottom: 16px;
        }

        &__group input::placeholder {
            font-family: $font-family;
            padding: 16px;
            font-size: $font-size-regular;
            color: $placeholder-color;
        }
      }
      
      .form__agreement {
          width: 288px;
          color: $font-color-accent;
          font-size: $font-size-small;
          margin-bottom: 23px;
  
          &--highlighted {
              color: $button-color;
          }
      }
  
      .form__button button {
          width: 136px;
          height: 32px;
          border-radius: 16px;
          background: $button-color;
          border: $button-color;
      color: $button-text-color;
      font-family: $font-family;
      font-weight: bold;
      font-style: normal;
      text-transform: uppercase;
      font-size: $font-size-button-text;
      transform: translateX(136px);
  
      span {
          display: inline-block;
          transform: translate(0, -5px);
      }
  
      img {
          transform: translate(6px, 7.5px);
      }
  }

  .form__line {
    width: 4px;
    height: 40px;
    display: inline-block;
    border-radius: 0 4px 4px 0;
    background: $accent-color-line;
    transform: translate(-1px, 8px);
    margin-right: 6px;
}
}