@import 'variables';

.show-more-btn, .show-more-btn-technology {
    font-family: $font-family;
    font-weight: 500;
    font-style: normal;
    font-size: $font-size-regular;
    margin-top: 24px;
    margin-left: 24px;
    cursor: pointer;

    img {
        transform: translateY(7px);
        margin-right: 7px;
        display: inline-block;
      }
  }

@media (max-width: 767px) {
    .show-more-btn, .show-more-btn-technology {
      display: none;
    }
}

@media (min-width: 1440px) {
    .show-more-btn, .show-more-btn-technology {
      margin-left: 32px;
    }
}