$font-family: 'TT Lakes';
$font-color: #1B1C21;
$font-color-accent: #7E7E82;
$background-main: #F8F8F8;


$background-line-in-nav: #EAEAEA;
$overlay-color: rgba(255, 255, 255, 0.9605);
$overlay-color-mobile: rgba(255, 255, 255, 1);
$block-border-color: #EAEAEA;
$background-nav: #FFFFFF;
$background-block: #FFFFFF;
$accent-color-line: #41F6D7;
$service-block-border-style: 2px solid #B8FFEC;
$scroll-shadow-color: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
$background-section-header-block: linear-gradient(270deg, #FFFFFF 0%, #F8F8F8 98.61%);
$section-decoration-line: #D9FFF5;
$button-color: #FF3E79;
$button-text-color: #FFFFFF;
$slider-pagination-bullet-color: #DDDDDD;
$slider-pagination-bullet-color-active: #B5B6BC;
$placeholder-color: #B5B6BC;
$border-shadow: rgba(14, 24, 80, 0.2);

$font-size-heading-big: 28px;
$font-size-big: 24px;
$font-size-regular: 16px;
$font-size-small: 14px;
$font-size-button-text: 12px;